<footer>

	<div class="footer-content">
		<div class="third left margin-right">
			<h3>Account and Profile</h3>
			<ul>
				<li><%= link_to 'View Profile', user_path(current_user.username) %></li>
				<li><%= link_to 'Edit Profile', edit_user_path(current_user.username) %></li>
				<li><%= link_to "Logout", :logout%></li>
			</ul>
		</div>

		<div class="third left margin-right">
			<h3>Discussion</h3>
			<ul>
				<li><%= link_to 'View Topics', topics_path %></li>
				<li><%= link_to 'Find Residents', :residents %></li>
			</ul>
		</div>

		<div class="third left">
			<h3>Products</h3>
			<ul>
				<li><a href="#">View Products</a></li>
				<li><a href="#">Shop for Products</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>

</footer>